<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input the name</title>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</head>
<body>
<div>
    <form action="" method="post">
        {{ form.csrf_token() }}

        {% for field in form if field.name != "csrf_token" %}
	        <p>{{ field.label() }}</p>
	        <p>{{ field }}
	            {% for error in field.errors %}
		            {{ error }}
                {% endfor %}
            </p>
        {% endfor %}
    </form>
</div>
</body>
</html>
def flag(N):
	class ArgumentError(Exception):
		pass

	if not isinstance(N, int) or N % 2 != 0 or N <= 0:
		raise ArgumentError("N should be an integer even number")

	# Creating the lines before the circle
	output_string = ('#' * (N * 3 + 2) + '\n')
	for i in range(int(N / 2)):
		output_string += ('#' + ' ' * (N * 3) + '#\n')

	# Creating first half of the circle
	for i in range(0, N, 2):
		output_string += ('#' + ('*' + 'o' * i + '*').center(3 * N, ' ') + '#\n')

	# Second half of the circle and the lines are mirrored
	output_string += output_string[-2::-1]

	return output_string